<?xml version="1.0" ?>
<model>
  <name>danbo_scene</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Mabel Zhang</name>
  </author>

  <description>
    Original 3D model "Looking for you #Danbo" from Total_Marginal on Sketchfab
    https://sketchfab.com/3d-models/looking-for-you-danbo-0967f58f64fb4a878e06dfeaa62d0169
  </description>
</model>
